# Enterprise architect
*.ldb

# Visual Studio (Code) env files
**/.vs/*
**/.vscode/*

# Output directories
**/bin/*
**/obj/*
**/dist/*
**/.idea/*

# There is exist another .gitifnore file
# Path: project\MusicInstrumentsCrm\MusicInstrumentsCrm\ClientApp\.gitignore

#This is mac

**/.DS_Store/*