.App {
  background-color: #b2fab4;
}

.header-app{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 80px;
}

.header-app li{
  padding: 20px 100px;
}

.header-name{
  color: #004c40;
  list-style-type: none;

  font-size: 28px;
  float: left;
}

.user-name{
  list-style-type: none;
  text-decoration: none;
  color: #004c40;
}

.Navbar{
  background-color: #81c784;

  position: fixed;
  left: 0;
  top: 80px;
  bottom: 60px;
  width: 70%;
  max-width: 250px;

  font-size: 25px;
  padding-left: 30px;
  line-height: 1.5;

  list-style-type: none;

  overflow-y: scroll;
}

.table-navbar{
  width: 90%;
  border-collapse: collapse;
}

.table-navbar td{
  padding-left: 10px;
  border-top: 2px solid #004c40;
  border-left: none;
  border-right: none;
}

.nav-link{
  text-decoration: none;
  color: #004c40;
}

.Footer{
  background-color: #b2fab4;
  height: 60px;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.Content{
  position: fixed;
  left: 270px;
  top: 80px;
  bottom: 60px;
  width: 100%;

  overflow-y: auto;
  background-color: #e8f5e9;
}

.content-view{

}

.btn-content{
  padding: 10px 20px;
  margin: 20px 20px;

  font-size: medium;
  color: #004c40;
  background-color: #b2fab4;
  border: 2px solid #004c40;
  border-radius: 10px;
}

.table-content{
  margin-left: 20px;
  margin-top: 20px;
  padding: 20px;
  width: 65%;
  border: 1px solid black;

  border-collapse: collapse;
}

.table-content td{
  padding: 20px;
}

.table-content th{
  padding: 20px;
  border-right: 1px solid #004c40;
}

.tr, td{
  border: 1px solid #004c40;
}

.Auth{
  margin: 0;
  background-color: #e8f5e9;

  width: 100%;
  height: 100vh;
}

.auth-form{
  padding-top: 30vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-field{
  padding: 10px;

  color: #004c40;
  font-weight: 600 ;
}
.login-field span{
  padding-right: 10px;

  display: inline-block;
  width: 60px;

}

.login-field input{
  font-size: 22px;
  padding-left: 10px;
}

.login-btn{
  padding: 5px 10px;
  margin: 20px 20px;

  font-size: 20px;
  color: #004c40;
  background-color: #b2fab4;
  border: 2px solid #004c40;
  border-radius: 10px;
}


.form-add {
  display: flex;
  flex-direction: column;

  padding: 20px;
  font-size: 20px;

  color: #004c40;
}

.form-add label{
  padding-bottom: 20px;
  align-items: center;
}

.form-add span{
  display: inline-block;
  width: 220px;
}

.form-add input{
  width: 200px;
  height: 20px;
}